{% extends 'master/main.html' %} {% block content %}

<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<style>
  .equal-height-card {
    min-height: 200px; /* Atur tinggi minimum sesuai kebutuhan */
  }
</style>

<section class="section dashboard">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">Nitrogen</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  >
                    <img
                      src="{{ url_for('static', filename='assets/img/1.png') }}"
                      alt="Humidity Icon"
                    />
                  </div>
                  <div class="ps-3">
                    <h6 id="nitrogen-value">{{nitrogen}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">Potassium</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  >
                    <img
                      src="{{ url_for('static', filename='assets/img/1.png') }}"
                      alt="Humidity Icon"
                    />
                  </div>
                  <div class="ps-3">
                    <h6 id="potassium-value">{{potassium}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Revenue Card -->
          <!-- 2 Kartu di Bawah -->
          <!-- Phosphorus Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">Phosphorus</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  >
                    <img
                      src="{{ url_for('static', filename='assets/img/2.png') }}"
                      alt="Phosphorus Icon"
                    />
                  </div>
                  <div class="ps-3">
                    <h6 id="phosphor-value">{{phosphor}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Phosphorus Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">PH</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  >
                    <img
                      src="{{ url_for('static', filename='assets/img/2.png') }}"
                      alt="Ph Icon"
                    />
                  </div>
                  <div class="ps-3">
                    <h6 id="ph-value">{{ph}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">Day After Planted</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  >
                    <img
                      src="{{ url_for('static', filename='assets/img/3.png') }}"
                      alt="Day Icon"
                    />
                  </div>
                  <div class="ps-3">
                    <h6 id="days-planted">{{ plant_age }}</h6>
                    <button onclick="startPlanting()">Mulai Tanam</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card neumorphism equal-height-card">
              <div class="card-body">
                <h5 class="card-title">Fertigation</h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center neumorphism-icon"
                  ></div>
                  <div class="ps-3">
                    <h6 id="prediction">{{prediction}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Akhir Kartu di Bawah -->
      </div>
    </div>
  </div>
</section>

<!-- Tambahkan elemen untuk menampilkan waktu -->
<div id="current-time" style="position: fixed; bottom: 10px; right: 10px"></div>

<script>
  function displayCurrentTime() {
    const currentDate = new Date();
    const currentTime = currentDate.toLocaleTimeString();
    document.getElementById("current-time").innerText = currentTime;
  }

  // Panggil fungsi displayCurrentTime setiap detik
  setInterval(displayCurrentTime, 1000);
</script>

<script>
  let daysPlanted = 0;
  let plantingTime = {{ planting_time | tojson | safe }};
  let lastUpdatedTime = localStorage.getItem("lastUpdatedTime")
    ? parseInt(localStorage.getItem("lastUpdatedTime"))
    : new Date().getTime(); // Menyimpan waktu terakhir diperbarui

  function startPlanting() {
    const currentTime = new Date().getTime();
    const timeDifference = currentTime - lastUpdatedTime;
    const daysPassed = Math.floor(timeDifference / (1000 * 60 * 60 * 24)); // Menghitung hari berdasarkan selisih waktu

    daysPlanted += daysPassed;
    updateDaysPlanted();
    lastUpdatedTime = currentTime;
    localStorage.setItem("lastUpdatedTime", lastUpdatedTime); // Simpan waktu terakhir diperbarui ke localStorage
    setInterval(checkDayChange, 1000); // Periksa perubahan hari setiap detik

    // Simpan waktu tanam ke server
    fetch('/set_planting_time', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ planting_time: currentTime })
    });
  }

  function resetPlanting() {
    daysPlanted = 0;
    updateDaysPlanted();
    lastUpdatedTime = new Date().getTime();
    localStorage.setItem("lastUpdatedTime", lastUpdatedTime); // Simpan waktu terakhir diperbarui ke localStorage

    // Simpan waktu tanam ke server
    fetch('/set_planting_time', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ planting_time: lastUpdatedTime })
    });
  }

  function updateDaysPlanted() {
    document.getElementById("days-planted").innerText = daysPlanted;
  }

  function checkDayChange() {
    const currentTime = new Date().getTime();
    const timeDifference = currentTime - lastUpdatedTime;
    const daysPassed = Math.floor(timeDifference / (1000 * 60 * 60 * 24)); // Menghitung hari berdasarkan selisih waktu

    if (daysPassed > 0) {
      daysPlanted += daysPassed;
      updateDaysPlanted();
      lastUpdatedTime = currentTime;
      localStorage.setItem("lastUpdatedTime", lastUpdatedTime); // Simpan waktu terakhir diperbarui ke localStorage
    }
  }

  // Panggil startPlanting saat halaman dimuat
  window.onload = function() {
    if (plantingTime) {
      const currentTime = new Date().getTime();
      const timeDifference = currentTime - plantingTime;
      daysPlanted = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
      updateDaysPlanted();
    }
  };

  // Fungsi untuk memperbarui nilai NPK secara berkala
  function updateNPKValues() {
    fetch('/get_npk_values')
      .then(response => response.json())
      .then(data => {
        document.getElementById('nitrogen-value').innerText = data.nitrogen;
        document.getElementById('potassium-value').innerText = data.potassium;
        document.getElementById('phosphor-value').innerText = data.phosphor;
        document.getElementById('ph-value').innerText = data.ph;
      });
  }

  // Panggil updateNPKValues setiap 12 jam (43,200,000 milidetik)
  setInterval(updateNPKValues, 43200000);
</script>

<!-- End #main -->
{% endblock content %}